body:has(.webview__container),
.webview__container,
.webview__container > iframe {
    --launcher-bottom-nav-height: 60px;
    --max-bottom-width: 800px;
    height: 100%;
    width: 100%;
}

.webview__container {
    position: relative;
    overflow: hidden;
}

.webview__container > iframe {
    height: calc(100% - var(--launcher-bottom-nav-height));
}

.launcher-bottom-nav,
.launcher-bottom-nav .nav-container {
    height: var(--launcher-bottom-nav-height, 60px);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--surface-0);
}
.launcher-bottom-nav {
    position: absolute;
    bottom: 0;
    z-index: 5;
    box-shadow: 0 0 4px 4px rgb(0 0 0 / 25%);

    .nav-container {
        max-width: var(--max-bottom-width);
    }

    :is(button.nav-item) {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        &:hover { cursor: pointer; }
    }
    :is(a.nav-item) {
        text-decoration: none;
    }
    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        color: inherit;
        :is(i) {
            font-size: 30px;
            height: 40px;
        }
    }

    .nav-item-home {
        background-color: var(--primary-color);
        color: var(--text-color-inverse);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: relative;
        top: -1rem;
        box-shadow: 0 0px 4px 4px rgb(0 0 0 / 25%);
        :is(i) {
            font-size: 40px;
            height: 60px;
        }
    }
}

.launcher-apps-selector {
    background-color: var(--surface-0);
    padding-bottom: var(--launcher-bottom-nav-height);
    position: absolute;
    bottom: -40vh;
    left: 0;
    width: 100%;
    z-index: 4;
    transition: bottom 0.3s ease-in-out;
    box-shadow: 0 0px 4px 4px rgb(0 0 0 / 25%);
    max-height: 40vh;
    overflow-y: auto;

    &.open {
        bottom: 0;
    }

    :is(ul, li) {
        margin: 0;
        padding: 0;
        list-style: none;
        width: fit-content;
    }
    :is(ul) {
        margin: 0 auto;
        max-width: var(--max-bottom-width);
        padding-block: 1rem;
        @media screen and (max-width: 800px) {
            margin: 0;
        }
    }

    :is(li) {
        /*border-bottom: 1px solid var(--gray-1);*/
        width: fit-content;
        :is(a) {
            text-decoration: none;
            color: inherit;
            display: inline-flex;
            padding: 0.5rem 1rem;
            align-items: center;
            gap: 0.5rem;
        }

        :is(img) {
            height: 1.5rem;
        }
        :is(i.mdi) {
            font-size: 1.5rem;
        }
    }

}

/* Add this CSS to your stylesheet */
@media (prefers-color-scheme: dark) {
    dt-home-app-json {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    dt-home-app-json {
        color: black;
    }
}
